figure {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

main {
  border-bottom: solid;
  border-width: thin;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  border-color: greenYellow;
}

section {
  text-align: center;
}

#eye {
  display: none;
  position: absolute;
}

body {
  background: linear-gradient(0.25turn, black,grey);
  color:white;
}

#text:hover {
  color: orange;
}

#img-div{
    text-align:center;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#image {
  width: 500px;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

p {
  margin-top: 0px;
}

h1 {
  text-align: center;
}

#myPic {
  width: 400px;
}

a {
  font-style: italic;
  color: white;
}

figcaption {
  text-align: center;
  padding-bottom: 10px;
}

main {
  padding-bottom: 50px;
}

.t1 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid yellow;
  margin: 0 auto;
}

.t2 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid yellow;
  margin-left: 100px;
}

.g1 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #333;
  margin: 0 auto;
}
.g2 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid yellow;
  margin-left: 378px;
}
.g3 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #333;
  margin-left: 24px;
}
